<form class="form-horizontal" role="form" action="{:url('edit')}" method="post">	
<input name="id" type="hidden" value="{$info['id']}" />
	<div class="form-group">
      <label for="title" class="col-sm-2 control-label no-padding-right">上级菜单：</label>
      <div class="col-sm-8">
        <select name="pid" id="pid" onchange="change_menu();">
        	<option value="0" level="0">请选择上级菜单</option>
            <foreach name="list_rule" item="r">
            <option value="{$r['list_sort']}" level="{$r['level']}" list_sort="{$r['list_sort']}" <if condition="$info['pid'] eq $r['list_sort']">selected="selected"</if>>{:str_repeat('&nbsp;',($r['level']-1)*8)}|----{$r['title']}</option>
            </foreach>
        </select>
        <input name="level" id="level" type="hidden" value="{$info['level']}" />
      </div>
    </div>
	<div class="form-group">
		<label class="col-sm-2 control-label no-padding-right" for="title">规则名称：</label>
		<div class="col-sm-8">
			<input type="text" id="title" name="title" class="form-control" value="{$info['title']}">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label no-padding-right" for="name">规则标记：</label>
		<div class="col-sm-8">
			<input type="text" id="name" name="name" class="form-control" readonly="readonly" value="{$info['name']}">
		</div>
	</div>
	<div class="form-group">
          <label for="title" class="col-sm-2 control-label no-padding-right">附加条件：</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="必需是用户表中有的字段进行附加，如:{sorce}>10,表示积分大于10的用户才满足条件" name="condition" id="condition" value="{$info['condition']}">
          </div>
        </div>        
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label no-padding-right">排序：</label>
          <div class="col-sm-8">            
            <input name="list_sort" id="list_sort" type="text" value="{$info['list_sort']}" />
          </div>
        </div>
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label no-padding-right">菜单类型：</label>
          <div class="col-sm-8">
          <select name="menu_type">
            	<option value="">隐藏规则</option>
                <option value="menu_left" <if condition="$info['menu_type'] eq 'menu_left'">selected="selected"</if>>左边菜单</option>
                <option value="button" <if condition="$info['menu_type'] eq 'button'">selected="selected"</if>>按钮</option>
          </select>
          </div>
        </div>
	<div class="form-group">
		<label class="col-sm-2 control-label no-padding-right" for="status">状态：</label>
		<div class="col-sm-8">
			<label class="checkbox-inline">
				<input name="status" type="radio" class="ace" value="0" <if condition="$info['status'] eq 0">checked="checked"</if>>
				<span class="lbl">禁用</span>
			</label>
			<label class="checkbox-inline">
				<input name="status" type="radio" class="ace" value="1" <if condition="$info['status'] eq 1">checked="checked"</if>>
				<span class="lbl">启用</span>
			</label>
		</div>
	</div>
	<div class="form-group" style="text-align:center">
		<div class="col-md-12">
			<button class="btn btn-info" type="submit">
				<i class="ace-icon fa fa-check bigger-110"></i>
				确认修改
			</button>
		</div>
	</div>
</form>
<script language="javascript">
function change_menu(){
	var menu_type=$('#pid').find('option:selected');
	$('#level').val(parseInt(menu_type.attr('level'))+1);
	$('#list_sort').val(menu_type.attr('list_sort')+999);
}
</script>